---
import Badge from "./Badge.astro";

interface Props {
  text?: string;
  href?: string;
  badge?: string;
  badgeVariant?: "note" | "danger" | "success" | "caution" | "tip";
}

const { text, href, badge, badgeVariant = "note", ...props } = Astro.props;
const Element = href ? "a" : "button";
---

<Element
  href={href}
  class="group inline-flex items-center no-underline py-[var(--rounding-number-space-compact,6px)] px-[var(--rounding-number-space-x-compact,8px)] gap-[var(--rounding-number-space-compact,6px)] rounded-[var(--rounding-number-radius-medium,12px)] border-[length:var(--rounding-number-stroke-light,0.6px)] border-solid border-[color:var(--color-primary-orange-main,#F48529)] bg-[var(--color-primary-orange-bg,rgba(244,133,41,0.24))]"
  {...props}
>
  <!-- Left Arrow -->
  <svg
    class="w-[6.247px] h-[10.536px] fill-[var(--color-primary-white-text,#EEE)]"
    viewBox="0 0 7 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.4158 5.2458L5.9558 1.7058C6.14205 1.51844 6.24659 1.26498 6.24659 1.0008C6.24659 0.736612 6.14205 0.483161 5.9558 0.295798C5.86283 0.20207 5.75223 0.127675 5.63037 0.0769067C5.50852 0.026138 5.37781 0 5.2458 0C5.11379 0 4.98308 0.026138 4.86122 0.0769067C4.73936 0.127675 4.62876 0.20207 4.5358 0.295798L0.295798 4.5358C0.20207 4.62876 0.127676 4.73936 0.0769072 4.86122C0.0261385 4.98308 0 5.11379 0 5.2458C0 5.37781 0.0261385 5.50852 0.0769072 5.63037C0.127676 5.75223 0.20207 5.86283 0.295798 5.9558L4.5358 10.2458C4.62924 10.3385 4.74005 10.4118 4.86189 10.4616C4.98373 10.5113 5.11419 10.5366 5.2458 10.5358C5.3774 10.5366 5.50787 10.5113 5.6297 10.4616C5.75154 10.4118 5.86236 10.3385 5.9558 10.2458C6.14205 10.0584 6.24659 9.80498 6.24659 9.5408C6.24659 9.27661 6.14205 9.02316 5.9558 8.8358L2.4158 5.2458Z"
    ></path>
  </svg>

  <span class="flex items-center gap-2">
    <slot>{text}</slot>
  </span>

  {badge && <Badge text={badge} variant={badgeVariant} />}

  <!-- Right Arrow -->
  <svg
    class="w-[6.246px] h-[10.486px] fill-[var(--color-primary-black-main,#181818)]"
    viewBox="0 0 7 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.95079 4.53556L1.71079 0.295562C1.61821 0.202324 1.50817 0.128233 1.38696 0.0775218C1.26574 0.0268102 1.13572 0.000470541 1.00433 6.24715e-06C0.872933 -0.000458047 0.742733 0.0249621 0.621162 0.0748158C0.499592 0.124669 0.389031 0.19798 0.295793 0.290562C0.202554 0.383144 0.128464 0.493184 0.0777521 0.614399C0.0270405 0.735615 0.000700803 0.865632 0.000236511 0.997027C-0.00022778 1.12842 0.0251928 1.25862 0.0750465 1.38019C0.1249 1.50176 0.198211 1.61232 0.290792 1.70556L3.83079 5.24556L0.290792 8.78556C0.104542 8.97293 0 9.22638 0 9.49056C0 9.75475 0.104542 10.0082 0.290792 10.1956C0.384233 10.2882 0.495049 10.3616 0.616886 10.4113C0.738724 10.4611 0.869186 10.4863 1.00079 10.4856C1.1324 10.4863 1.26286 10.4611 1.3847 10.4113C1.50654 10.3616 1.61735 10.2882 1.71079 10.1956L5.95079 5.95556C6.04428 5.86246 6.11846 5.75182 6.16908 5.62998C6.2197 5.50814 6.24575 5.3775 6.24575 5.24556C6.24575 5.11363 6.2197 4.98299 6.16908 4.86115C6.11846 4.73931 6.04428 4.62866 5.95079 4.53556Z"
    ></path>
  </svg>
</Element>
